-
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
*.suo



*.nuget.props
*.nuget.targets
project.lock.json
project.assets.json


*.publish.xml


*.pdb


*.log


# Archivos de sistema operativo
Thumbs.db
ehthumbs.db
Desktop.ini


TestResults/